* {
  font-family: monospace;
  font-size: 18px;
}

html {
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 1em;
  margin-bottom: 2em;
}

h1 {
  text-align: center;
  margin-bottom: 0.15em;
}

h1 > a {
  font-size: 2em;
  text-decoration: none;
}

#domain-regex {
  width: 300px;
}

#max-cost {
  width: 75px;
}

#min-cost {
  width: 75px;
}

#min-date {
  width: 180px;
}

#form {
  text-align: center;
}

#saved-searches {
  margin-top: 1em;
  text-align: center;
}

#header {
  margin-bottom: 1.5em;
  text-align: center;
  color: #999;
  font-size: 0.8em;
}

#header > a {
  font-size: 1em;
  text-decoration: none;
}

#results {
  margin-top: 1.5em;
}

#show-additional {
  margin-top: 1em;
}

a {
  color: #0068ff;
}

a:visited {
  color: #666;
}

.arrow {
  color: #aaa;
}

.english {
  color: green;;
}

.error {
  background-color: LightPink;
}

strong {
  display: inline-block;
  min-width: 75px;
  margin-right: 1em;
}

.date {
  display: inline-block;
  min-width: 110px;
  margin-right: 1em;
}
